{% extends 'app/base.html' %}

{% block content %}
<form action="" method="post" enctype="multipart/form-data">
    <h2>振替申請フォーム</h2>
    {{ form.as_p }}

    <h2>添付ファイル</h2>
    {{ formset.management_form }}
    <div id="file-area">
        {% for file_form in formset %}
            {{ file_form.as_p }}
            <hr>
        {% endfor %}
    </div>

    {% csrf_token %}
    {% bootstrap_javascript jquery='full' %}
    {{ form.media }}
    
    <button type="submit" class="btn btn-primary">送信</button>
    <button id="add" type="button" class="btn btn-primary">ファイルの追加</button>
</form>

{% endblock %}

{% block extrajs %}
<script>
$(function(){
    var totalManageElement = $('input#id_file_set-TOTAL_FORMS');
    var currentFileCount = parseInt(totalManageElement.val());
    
    $('button#add').on('click', function(){
        var nameElement = $('<input>', {
            type: 'text',  // 'name' ではなく 'text' を使用
            name: 'file_set-' + currentFileCount + '-name',
            id: 'id_file_set-' + currentFileCount + '-name',
        });
        var fileElement = $('<input>', {
            type: 'file',
            name: 'file_set-' + currentFileCount + '-src',
            id: 'id_file_set-' + currentFileCount + '-src',
        });
        $('div#file-area').append(nameElement);
        $('div#file-area').append(fileElement);
        currentFileCount += 1;
        totalManageElement.attr('value', currentFileCount);
    });
});
</script>
{% endblock %}
